@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root{
    --green: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --dark: hsl(212, 21%, 14%);
    --light: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --stylish: 'Fraunces', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

body{
    background: hsl(30, 38%, 92%);
    position: relative;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--white);
    height: 45rem;
    width: 60rem;
    border-radius: 1rem;
}

.image-product{
    width: 100%;
    height: auto;
    border-radius: 1rem 0 0 1rem;
}

.text-section{
    margin: 10%;
}

.category{
    margin-bottom: 2rem;
    letter-spacing: 0.45rem;
    color: var(--light);
    font-weight: 500;
}

h1{
    margin: 0 5rem 2rem 0;
    font-family: var(--stylish);
    font-weight: 700;
    font-size: 3rem;
    /* border: red 1px solid; */
}

.description{
    margin: 0 4rem 2.5rem 0;
    color: var(--light);
    line-height: 2.25rem;
    font-weight: 500;
    font-size: 1.2rem;
    /* border: red 1px solid; */
}

.pricing{
    display: flex;
    align-items: center;
    margin: 0 0 2.75rem 0;
}

.pricing-deal{
    margin-right: 2rem;
    font-size: 2.85rem;
    font-weight: 700;
    color: var(--green);
    font-family: var(--stylish);
}

.pricing-original{
    text-decoration: line-through;
    color: var(--light);
}

button{
    background: var(--green);
    padding: 1.5rem 0;
    width: 100%;
    border-radius: 1rem;
    border: none;
    display: flex;
    justify-content: center;
}

.icon-cart{
    margin-right: 1rem;
    width: 2rem;
}

.cart-text{
    font-size: 1.5rem;
    color: var(--white);
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}