@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root{
    --green: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --dark: hsl(212, 21%, 14%);
    --light: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --stylish: 'Fraunces', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

body{
    background: hsl(30, 38%, 92%);
    position: relative;
}

.reference{
    position: fixed;
    width: 128rem;
    z-index: -2;
    filter:opacity(0);
    border: 1px solid red;

}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 13%);
    /* transform:scale(88.9%); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--white);
    height: 45rem;
    width: 60rem;
    border-radius: 1rem;
}

.image-product{
    width: 100%;
    height: auto;
    border-radius: 1rem 0 0 1rem;
    /* grid-area: image; */
}

.text-section{
    margin: 11.5% 11.1%;
    /* grid-area: text; */
}

.category{
    margin-bottom: 2rem;
    letter-spacing: 0.6rem;
    color: var(--light);
    font-weight: 700;
}

h1{
    margin: 0 1rem 2.6rem 0;
    font-family: var(--stylish);
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.2rem;
    letter-spacing: 0.1rem;
    /* border: red 1px solid; */
}

.description{
    margin: 0 0.5rem 2.85rem 0;
    color: var(--light);
    line-height: 2.25rem;
    letter-spacing: 0.08rem;
    font-weight: 500;
    font-size: 1.2rem;
    /* border: red 1px solid; */
}

.pricing{
    display: flex;
    align-items: center;
    margin: 0 0 2.65rem 0;
}

.pricing-deal{
    margin-right: 1.7rem;
    font-size: 2.85rem;
    font-weight: 700;
    color: var(--green);
    font-family: var(--stylish);
    letter-spacing: 0.19rem;
    /* border: red 1px solid; */
}

.pricing-original{
    text-decoration: line-through;
    color: var(--light);
    font-size: 1.3rem;
}

button{
    background: var(--green);
    padding: 1.45rem 0;
    width: 100%;
    border-radius: 1rem;
    border: none;
    display: flex;
    justify-content: center;
}
button:hover{
    background: var(--dark);
    cursor: pointer;
}

.icon-cart{
    margin-right: 0.5rem;
    width: 2rem;
}

.cart-text{
    font-size: 1.5rem;
    color: var(--white);
    /* letter-spacing: 0.01rem; */
}

footer{
    bottom: 0.75rem;
    left: 0;
    right: 0;
    text-align: center;
    position: fixed;
}

.attribution { 
    font-size: 11px; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 375px){
    main{
        /* grid-template-columns: 1fr; */
    }



}