:root{
    --green: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --dark: hsl(212, 21%, 14%);
    --light: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --stylish: 'Fraunces', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

body{
    background: hsl(30, 38%, 92%);
    position: relative;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--white);
    height: 45rem;
    width: 60rem;
    border-radius: 1rem;
}

img{
    /* overflow: hidden; */
    /* object-fit: contain; */
    width: 100%;
    height: auto;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }